*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;

}
body{
    text-align: center;
    color: white;
    background-color: #193549;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.controls{
    margin-bottom: 50px;
}
h2{
    margin-top: 30px;
    margin-bottom: 15px;
}
img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    width: 50%;
}